body{
    display: flex;
    justify-content: center;
    align-content: center;
}
.main{
    width:450px;
    height:350px;
}
#textbox
{
width:200px;
height:20px;
}
#calender-box{
    width:100px;
    height: 22px;
}
.adder{
padding:10px;
display:flex;
justify-content:space-evenly;
width:100%;
height:20px;
}

ul
{
    display:flex;
    justify-content:space-between;
}
#check-btn{
    width:20px;
    height:20px;
    border:2px solid black;
}

.btn-class {
    cursor: pointer;
    width:90px;
    height:30px;
    border:transparent;
    border-radius: 10%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 0.8rem;
}
.btn-class:hover{
    transition: 0.5s all;
    transform:scale(1.01);
}
.btn-class:active{
    transition: 0.3s all;
    transform:scale(0.95);
}